<div class="row">
    <div class="col-xs-12">
        <rd-widget>
            <multi-step-container steps="steps" class="sliding-steps simple-prev-next">
              
                    <header>
                        <button ng-disabled="$isFirst()" class="btn btn-default" ng-click="$previousStep()">
                            <span class="fa fa-chevron-left"></span>
                            Previous
                        </button>
                        <strong ng-bind-template="{{$getActiveIndex()}}. {{$getActiveStep().title}}"></strong>

                        <button ng-disabled="$isLast()" class="btn btn-default" ng-click="$nextStep()">
                            Next
                            <span class="fa fa-chevron-right"></span>
                        </button>
                    </header>
                
                <rd-widget-body class="zero-padding">
                    <main step-container></main>
                </rd-widget-body>
            </multi-step-container>
        </rd-widget>
    </div>
</div>
