.simple-prev-next > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 0 0 15px;
}

.jumbotron{
    height: 100vh; 
    position: relative;
    background: #000 url("../../img/cloud.jpg") center center;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row.header {
  height: 60px;
  background: #f3f3f3;
  margin-bottom: 15px;
}

.page-content{
    background: #fff;
}

body {
  background: #fff;
  
}

#sidebar-wrapper {

  width: 230px;

}

ul.sidebar li a {

  width: 230px;
}

@media only screen and (min-width: 561px) {
  #page-wrapper.open {
    padding-left: 230px;
  }
}

@media only screen and (max-width: 560px) {
  #page-wrapper.open {
    padding-left: 50px;
  }
}
#page-wrapper {
  padding-left: 50px;
  
}

ul.sidebar .sidebar-list .menu-icon {
  width: 60px;
}

ul.sidebar .sidebar-main .menu-icon {
  padding-right: 20px;
}